
@{
    ViewBag.Title = "ViewMain";
    Layout = "~/Views/Shared/Inicio.cshtml";
}

<h2>Biblioteca Nacional</h2>
<div class="MargenDiv">
    <p class="flotar">Bienvenidos a la Biblioteca Nacional</p>
    <p class="flotar">Encontrara gran cantidad de libros</p>
    <p class="flotar">Diversos Autores y categorias</p>    
</div>
