
@{
    ViewBag.Title = "ViewLogin";
    Layout = "~/Views/Shared/Inicio.cshtml";
}

<h3 class="text-center">@ViewBag.ErrorLogin</h3>

@using (Html.BeginForm("ViewLogin", "Login"))
{


    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in </h2>
            <input name="user" id="user" type="email" class="form-control" placeholder="User" required autofocus="">
            <input name="password" class="form-control" placeholder="Password" required type="password">

            <label class="checkbox">
                <input value="remember-me" type="checkbox"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->

    <h3 class="text-center">@ViewBag.Message</h3>
}